@charset "UTF-8";
/* Login Style*/
* {
	padding:0;
	margin:0;
}
a {
	text-decoration:none;
}
.shade {
	background-color:#CCDDBB;
	padding:5px;
}
.stripped {
	background-color:#FFFFEE;
	padding:5px;
	}
#wrapper {
	width:760px;
	margin:0 auto;
}
#container {
	width:300px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	
}
#container2 {
	width: 600px;
	height: 200px;
	margin-left:auto;
	margin-right:auto;
	padding: 10px;
}
#container3 {
	width: 600px;
	height: 400px;
	margin-left:auto;
	margin-right:auto;
	padding: 10px;
}
.fieldp{
	margin-bottom:10px;
}
header {
	font-family:'Faster One', cursive;
	text-align:center;
	font-size:48px;
	color:#1C3B4D;
	padding-top:50px;
	padding-bottom:50px;
}
form {
	text-align:Left;
	padding: 20px 0px 20px 0px;
}
footer {
	text-align:center;
	font-size: 10px;
}
input[type="textarea"] {
	margin-bottom:5px;
	margin-top:5px;
}
input[type="password"] {
	margin-bottom:10px;
}

html {
	background-color:#f2f0e9;
}
.h2task {
	text-align:center;
	margin-bottom:5px;
}
fieldset {
	background-color:#E9F1ED;
	width:300px;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 20px;
	text-align: left;
	margin: 10px;
}
legend {
	background-color:#E9EDF1;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 3px 7px;
	text-align:left;
	text-transform:uppercase;
}
	
#box {
	margin: 10px;
	padding-bottom: 10px;
	width: 300px;
}
.populate {
	width:100%;
	padding:5px;
	margin-left:auto;
	margin-right:auto;	
}
.update {
	width:50%;
	padding:5px;
	margin-left:auto;
	margin-right:auto;
}
.title {
	float:left;
	width:100px;
	text-align:right;
	padding-right: 5px;
}
.title2 {
	float:right;
	margin-right:450px;	
	margin-left:5px;
}
.update1 {
	float:left;
	width:70px;
	text-align:left;	
	margin:2px;
}
.update2 {
	float:right;	
	padding:5px;
	margin:4px;
}
label.update1 {
	margin-top:5px;
	margin-bottom:25px;
}

.login {
	text-align:right;
}
div {
	margin-top:2px;
	padding:2px;	
}
p {
	padding:2px;
}

footer p {
	padding:0;
}
/*CSS for generation of buttons */
.task3 {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:2px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	font-weight:bold;
	padding:31px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
	margin:3px;
}
.task3:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
.task3:active {
	position:relative;
	top:1px;
}
.test1 {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:2px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:12px;
	font-weight:bold;
	padding:3px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.test1:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
.test1:active {
	position:relative;
	top:1px;
}
#submit {
	text-align:right;
	padding:5px;
}
.test2 {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:2px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:12px;
	font-weight:bold;
	padding:3px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.test2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
.test2:active {
	position:relative;
	top:1px;
}
.test2 {
	float:right;
	text-align:right;
	clear:both;
	margin-top:2px;
}
#submit1 {
	text-align:center;
	padding:5px;
}
.test2a {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:2px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:12px;
	font-weight:bold;
	padding:3px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.test2a:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
.test2a:active {
	position:relative;
	top:1px;
}	

