html {
    box-sizing: border-box;
}
   
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Gamja Flower', cursive;
    color: rgba(0, 0, 0, .8);
}

h1 {
    font-size: 4em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.flex-container, .flex-container-home {
    width: 95%;
    margin: 15px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.flex-container-logo {
    width: 95%;
    margin: 15px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.acmelogo {
    display: block;
    margin: 20px auto;
    width: 100px;
}

.accntFolderImg {
    display: none;
    width: 100px;
    margin: 20px auto 0;
}

.accountArea {
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 2em;
}

header {
    flex: 1 100%;
    order: 1;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 0;
}

nav ul li {
    width: 100%;
    background-color: #de2226;
    text-align: center;
}

nav ul li a {
    font-family: 'Acme', sans-serif;
    display: block;
    padding: 1rem 2rem;
    line-height: 1.2rem;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

nav ul li a:hover {
    background-color: #f5f5f5;
    color: black;
    text-decoration: none;
}

nav ul li {
    display: none;
}

nav ul.siteNav_responsive li {
    display: block;
}

nav ul li.icon {
    float: right;
    text-align: center;
    display: block;
}
.main_child {
    flex: 1 100%;
    order: 2;
}

main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 20px;
}

main img {
    max-width: 100%;
    height: auto;
}

article {
    flex: 1 100%;
}

aside {
    flex: 1 100%;
}

footer {
    margin: 20px;
    flex: 1 100%;
    order: 3;
    text-align: center;
}

footer hr {
    border: 0;
    height: 4px;
    background: #333;
    background-image: linear-gradient(to right, #667, #333, #667);
}

.main_hero {
    width: 100%;
    background-image: url("/images/site/rocketfeature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2em;
}

.main_hero ul {
    margin: 0;
    padding-right: 30px;
    height: 408px;
    float: right;
    color: #de2226;
    list-style-type: none;
    background-color:rgba(255,255,255,0.5);
    text-shadow: 2px 2px #555;
}

.main_hero h2 {
    margin: 25px 0 0 0;
    font-size: 2em;
}

#actionli {
    padding-top: 8px;
}

#actionbtn:hover {
    box-shadow: 3px 3px #888;
    border-radius: 18px;
}

#actionbtn:active {
    box-shadow: 0px 0px #888;
}

.recipes-flex-container {
    margin: 15px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
}

.recipes-flex-container li {
    flex: 1 auto;
    margin: 5px 20px;
    background-color: #808080;
    text-align: center;
    min-width: 155px;
}

.recipes-flex-container li a {
    display: block;
    margin: 10px auto 0;
    padding: 2px 0 15px;
    background-color: #fff;
}

.recipes-flex-container li img {
    display: block;
    margin: 0 auto;
}

.displayMessage {
    font-family: 'Acme', sans-serif;
    font-size: 1.3em;
    color: black;
    background-color: #eee;
    border-radius: 25px;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    width:80%;
}

.displayErrMessage {
    font-family: 'Acme', sans-serif;
    font-size: 2em;
    color: #de2226;
    background-color: #eee;
    border-radius: 25px;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    width:80%;
}

#uploadForm {
    max-width: 500px;
    margin: 0 auto;
}

/* ****************** */
/* PRODUCTS / IMAGES--------------------------------------------------------------------------------------*/
/* ****************** */

#prod-display, #image-display{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#prod-display li {
    margin-bottom: 3.5em;
    margin-left: 0px;
    border: 1px #000 solid;
    list-style-type: none;
    flex: 1 1 auto;
    border-radius: 15px;
}

#image-display li {
    margin-bottom: 0;
    margin-left: 0px;
    border: 1px #000 solid;
    list-style-type: none;
    flex: 1 1 auto;
    border-radius: 15px;
}

#prod-display li a, #image-display li a {
    color: rgba(0, 0, 0, .8);
}

#prod-display li:nth-child(even) {
    background: #f6f6f6;
}

#image-display li:nth-child(even) {
    background: #fff;
}

#prod-display li img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

#image-display li img {
    display: block;
    margin: 15px auto 0 auto;

}

#image-display li p a {
    display: block;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

#prod-display li h2, #image-display li h2 {
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 1.9em;
    height: 50px;
}

#prod-display li .productPrice {
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: 1.3em;
    padding-bottom: 5px;
    margin-bottom: 10px;
    height: 25px;
    color: #de2226;
}

.itemDisplay {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Acme', sans-serif;
    font-size: 1.5em;
    background-color: #eee;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.itemDisplay h1, .categoryTitle {
    text-align: center;
    font-size: 1.5em;
    color: #eee;
    background-color: #444;
    width: 100%;
    border-radius: 10px;
    padding: 10px 5px;
    margin: 20px auto;
}

.itemImage {
    margin: 0 auto;
    max-width: 500px;
    flex: 1 100%;
}

.itemInfo {
    flex: 1 100%;
}

.itemImage img {
    background-color: white;
    display: block;
    margin: 0 auto;
    width: 90%;
    padding: 15px;
    border: 1px solid #999;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.itemDisplay ul li {
    list-style-type: none;
    margin-top: 35px;
}

.adminImage {
    max-width: 100px;
}

.itemPrice {
    font-size: 1.5em;
    color: #de2226;
}

.itemHeading {
    width: 80%;
    color: #d6b93b;
    font-size: 1.5em;
    display: block;
    border-bottom: 3px solid #bbb;
    margin-bottom: 13px;
}

.productThumbs {
    background-color: #c3c3c3;
    padding-bottom: 3px;
    border-radius: 8px;
    margin-top: 10px;
}

.productThumbs p {
    padding: 15px 0;
    text-align: center;
    margin: 0;
}

#thumbs-display li img {
    cursor: pointer;
}

.itemImage .productThumbs ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.itemImage .productThumbs ul li {
    margin: 0 0 15px 0;
}

.itemImage .productThumbs img {
    max-width: 120px;
    padding: 0;
    margin: 0 5px;
}

.main_child main .imageAccountCard {
    max-width: 300px;
    text-align: left;
    margin-bottom: 50px;
    background-color: #f1f1f1;
    padding: 15px;
}

.main_child main .imageAccountCard table {
    border: 3px solid black;
}

.deleteButton {
    font-family: 'Acme', sans-serif;
    margin-top: 10px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: #999 2px 2px;
    padding: 5px 15px;
    color: #de2226;
    display: block;
    font-size: .5em;
}

.deleteButton2 {
    font-family: 'Acme', sans-serif;
    margin-top: 10px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: #999 2px 2px;
    padding: 5px 15px;
    color: #de2226;
    display: inline;
    font-size: .5em;
}

/* ****************** */
/* LOGIN CSS ---------------------------------------------------------------------------------------*/
/* ****************** */

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    width: 100%;
}

label {
    font-size: 1.5em;
}

.logButton {
    font-family: 'Acme', sans-serif;
    margin-top: 10px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: #999 2px 2px;
    padding: 5px 15px;
    color: black;
    display: block;
    font-size: .5em;
}
.logButton:hover {
    text-decoration: none;
    box-shadow: #888 3px 3px;
}
.logButton:active {
    box-shadow: white 0px 0px;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=email], input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #de2226;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 1.5em;
  }

/* Set a style for all buttons */
button.login, button.register, button.signupbtn{
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    border-radius: 30px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 200px;
    border-radius: 0%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}



/* ****************** */
/* ADMIN ACCOUNT CSS ---------------------------------------------------------------------------------------*/
/* ****************** */

.accountCard {
    font-family: 'Acme', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}

.accountCard h1 {
    margin: 0 auto;
    padding: 0 30px;
}

.accountCard ul li {
    list-style-type:none;
    text-align: left;
    line-height: 1.7em;
    padding-right: 30px;
    font-size: 1.8em;
}

.accountCard ul li span {
    font-size: 1em;
    color: #de2226;
}

.accountCard table {
    border: 2px solid black;
    margin: 0 auto;
    border-collapse: collapse;
}

.accountCard table thead tr th {
    font-size: 2em;
    padding-right: 15px;
}

.accountCard table tbody tr:nth-child(odd) {
    background: #ccc;
}

.accountCard table tbody tr:first-child td {
    border-top: 1px solid black;
}

.accountCard table tbody tr td {
    text-align: right;
    padding: 0 5px 5px 0;
    border-bottom: 1px solid #000;
    border-right: 0px solid black;
}

.accountButton {
    border: gray solid 1px;
    outline: 0;
    display: inline-block;
    padding: 8px 0;
    color: white;
    background-color: #de2226;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 22px;
}

.accountButton:hover, a:hover {
    background-color: #f5f5f5;
    color: black;
    text-decoration: none;
}

/*Tiny screen ---------------------------------------------------------------------------------------*/

@media only screen and (max-width: 400px) {

    h1 {
        font-size: 2em;
    }

    h1,h3 {
       margin-left: 15px; 
    }
    .main_hero {
        font-size: 1.2em;
    }
    .main_hero ul {
        background-color:rgba(255,255,255,0.8);
        text-shadow: none;
        float: left;
    }
    .main_hero ul li {
        line-height: 2;
    }

    span.psw {
        display: block;
        float: none;
    }

    .accountButton {
        width: 80%;
    }

}





/*Medium screen ---------------------------------------------------------------------------------------*/

@media only screen and (min-width: 760px) {
    h1 {
        font-size: 3.5em;
    }
    .flex-container, .flex-container-home {
        width: 88%;
        justify-content: space-between;
    }

    .flex-container-logo {
        width: 88%;
        justify-content: space-between;
    }
    .aside-container {
        display: flex;
        flex-flow: row nowrap;
    }
    .aside1 {
        order: 1;
    }
    .aside2 {
        order: 2;
    }
    header {
        order: 1;
    }
    main {
        order: 2;
    }
    aside {
        flex: 1 50%;
    }
    footer {
        order: 3;
    }
    nav ul {
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    
    nav ul li a {
        display: block;
        padding: 1rem 2rem;
        line-height: 2.2rem;
        color: white;
        text-decoration: none;
        font-size: 2em;
    }

    .pageLogo {
        display: inline;
    }

    .acmelogo {
        display: inline-block;
        width: 200px;
    }

    .accountArea {
        display: inline;
        font-size: 1.7em;
    }

    .accntFolderImg {
        display: inline-block;
        width: 30px;
        padding-right: 10px;
    }

    .main_hero {
        background-size: cover;
        font-size: 1.5em;
    }

    .main_hero h2 {
        font-size: 2em;
    }

    .main_hero ul {
        margin: 0 0 0 20px;
        height: 408px;
        background-color:rgba(255,255,255,0);
    }
    .logButton {
        display: inline;
        font-size: .8em;
        margin-right: 25px;
    }

    .deleteButton {
        display: inline;
        font-size: .8em;
        margin-right: 25px;
    }

    #prod-display {
        margin: 0;
        /*max-width: 630px;*/
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    #prod-display li .productImage {
        width: 200px;
        height: 200px;
        position: relative;
    }
    
    #prod-display li img {
        width: 99%;
        max-height: 195px;
        position: absolute;  
        top: 0;  
        bottom: 5px;  
        left: 0;  
        right: 0;  
        margin-top: auto;
    }
    
    #prod-display li {
        margin-left: 30px;
        max-width: 200px;
        flex: 1 0 auto;
        text-align: center;
        max-height: 500px;
    }

    #prod-display li h2 {
        font-size: 1.5em;
        height: 50px;
    }

    .categoryTitle {
        font-size: 3.5em;
        text-align: center;
        padding: 20px;
        margin: 30px;
        max-width: 500px;
    }

    .itemDisplay {
        font-size: 1.5em;
        width: 80%;
        margin: 0 auto;
    }

    .itemDisplay h1 {
        font-size: 2.5em;
        width: 80%;
        padding: 10px 5px;
        margin: 20px auto;
    }

    .itemDisplay ul li {
        margin-top: 30px;
    }

    .itemImage img {
        max-width: 800px;
        margin: 0 auto;
    }

    .itemHeading {
        max-width: 200px;
        font-size: 1em;
        padding-bottom: 10px;
        margin-top: 45px;
        margin-right: 8px;
        border-bottom: 2px solid #bbb;
    }

    .main_child main .imageAccountCard {
        width: 600px;
        text-align: left;
        margin-bottom: 50px;
        background-color: #f1f1f1;
        padding: 15px;
    }

    .accountCard table tbody tr td {
        padding: 12px 15px 12px 5px;
    }

    .adminImage {
        max-width: 175px;
    }

    .main_child main .imageAccountCard {
        max-width: 600px;
        padding: 25px;
    }

    .displayMessage {
        font-size: 2em;
    }
}




/*Large screen ---------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 3em;
    }
    .flex-container, .flex-container-home {
        width: 95%;
        min-width: 1200px;
    }

    .flex-container-logo {
        width: 90%;
        margin: 0 20px;
    }

    nav ul {
        flex-flow: row wrap;
        justify-content: flex-start;
        background-color: #de2226;
    }

    nav ul li {
        display: block;
        max-width: 200px;
    }
    
    nav ul.siteNav_responsive li {
        display: none;
    }
    
    nav ul li.icon {
        display: none;
    }

    /*#prod-display {
        max-width: 920px;
    }*/

    .itemImage img {
        width: 100%;
        margin-top: 100px;
    }

    .itemImage {
        flex: 1 40%;
    }
    
    .itemInfo {
        flex: 1 60%;
    }
}


/*Very Large Screen ---------------------------------------------------------------------------------------*/

@media only screen and (min-width: 1340px) {
    nav ul {
        justify-content: space-around;
    }

    .flex-container-home {
        max-width: 960px;
    }
    .flex-container {
        max-width: 1460px;
    }
    .itemImage {
        flex: 1 60%;
    }
    
    .itemInfo {
        flex: 1 40%;
    }
}